@* @model IEnumerable<ProductCatalog.Models.Product>


@{
    ViewData["Title"] = "Список продуктов";
}

<h2>Список продуктов </h2>
<p>
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Создать</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>
        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
    
        </td>
        <td>
            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
            
    </tr>
    
    
    

}
</table>
 *@

@model IEnumerable<ProductCatalog.Models.Product>

@{
    ViewData["Title"] = "Список продуктов";
}
@if (User.IsInRole("Admin"))
{
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Создать</a>
    <table class="table">
    <tr>
        <th>Id</th>
        <th>Назва</th>
        <th>Ціна</th>
        <th>Категорія</th>
        <th>Дії</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>@item.Category</td>
        <td>
        <a asp-action="Details" asp-route-id="@item.Id">Докладніше</a> |
        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
    
        </td>
        
    </tr>
}
</table>
}

else    
{
    <h2>Список продуктів</h2>

<form asp-controller="Product" asp-action="ProduktIndex" method="get">
    <p>
        Назва: <input type="text" name="searchString" value="@Context.Request.Query["searchString"]" />
        Категорія: <input type="text" name="category" value="@Context.Request.Query["category"]" />
        <input type="submit" value="Пошук" />
    </p>
</form>

<table class="table">
    <tr>

        <th>Назва</th>
        <th>Вартість</th>
        <th>Категорія</th>
        <th>Дії</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>@item.Category</td>
        
        <td>
            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Докладніше</a>
        </td>
        
    </tr>
}
</table>
}


